html {
    background-color:lightblue;
}

h1 {
    font-size: 36px;
}

div {
    width: 100%;
}

.portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 60%;
}

.project-item {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 20px;
}

.thumbnail {
    width: 25px;
    height: auto;
    padding: .5rem;
}